
		h1 {
			text-align: center;
			margin-top: 50px;
		}
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 50px;
		}
		.card {
			background-color: #fff;
			box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
			max-width: 300px;
			margin: 10px;
			text-align: center;
			padding: 20px;
      position: relative;
      
		}
		.card img {
			width: auto;
			height: 200px;
			margin-bottom: 20px;
		}

		.card h2 {
			font-size: 1.5rem;
			margin-bottom: 10px;
		}
		.card p {
			font-size: 1rem;
			margin-bottom: 20px;
      text-align: left;
		}
    .card a {
      display: block;
      background-color: #4CAF50;
      color: #fff;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center; /* center the button horizontally */
    }

		.card a:hover {
			background-color: #3e8e41;
		}


