header, main, footer {
        max-width: 64rem;
        margin:auto;
        
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header{
    display: grid;
    grid-template-columns: 51px auto ;
    justify-content: space-between;
    h1{
        font-size: xxx-large;
        }
    
    }
/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .large-#{$i} {flex-basis: $w;}
    }
}

/*----------- FOOTER --------------*/
