
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header{
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding:0;
    margin: 0;
    h2{
        justify-self: end;
        display: block;
    }
}


/*----------- NAVIGATION --------------*/
nav ul{
    width: 200px;
}

/*----------- MAIN --------------*/
main{
    .card{
    @for $i from 1 through 12{
        $w:($i / 12) * 100%;
        .medium-#{$i} {flex-basis: $w;}
       }
    }
}

/*----------- FOOTER --------------*/
    