
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header{
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding:0;
    margin: 0;
    h2{
        justify-self: end;
        display: block;
    }
}


/*----------- NAVIGATION --------------*/
nav ul{
    width: 200px;
}

/*----------- MAIN --------------*/
main{
    div.member {
        flex-basis: 50%;
        text-align: left;
    }
}

/*----------- FOOTER --------------*/
    