/*----------- BODY --------------*/
div#headerWrapper{grid-row-start: 1;}
div#navWrapper{grid-row-start: 2;}
div#mainWrapper{grid-row-start: 3;}
div#footerWrapper{grid-row-start: 4;}



/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
main{
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .medium-#{$i} {flex-basis: $w;}
    }
    .jumbotron{
        margin: 0.5rem 1rem;
    }

}

/*----------- FOOTER --------------*/
    