/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    p{
        margin: 0;
    }

}


/*----------- HEADER --------------*/
header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;

    background-color: #B4E1FF;
        figure.logo{
        float: left;
        margin: 0 2vw ;
    }
    h1 {
    margin: 0;
    color: #001C55;
    font-size: x-large;
    position: absolute;
    padding-left: 10rem;
    padding-top: 1.8rem;
}
h2{
    display: none;
    margin-top: 3rem;
    color: #001C55;
}
}
/*----------- NAVIGATION --------------*/
nav {
    ul {
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100%;
    display: none;
}
ul.open{
    display: block;
}
 ul li {
    border-bottom: solid 1px #100007;
}
 ul li a {
    display: block;
    background-color: #001C55;
    color: #ffffff;
    border-left: 1px solid #fff;
    padding: .9rem 2vw;
    text-decoration: none;
    font-size: .9rem;
    text-align: right;
}
 ul li:first-child a {border-left: none;}

 ul li a:hover {
    background-color: #DCC48E;
    color: #001C55;
}
 ul li.active a {
    background-color: #ffffff;
    color: #000000;
}
 button{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 2vw .5rem 1rem;
    color: #ffffff;
}
button span:nth-child(1){
    display: block;
}
button span:nth-child(2){
    display: none;
}

button.open span:nth-child(1){
    display: none;
}
button.open span:nth-child(2){
    display: block;
}

}
/*----------- MAIN --------------*/
main {
    main {
        padding: 0 2%;
        min-height: 10rem;
        h1{
            color: #1B2F33;
            font-size: larger;
            margin-left: 0.5vw;
        }
        $cbr: 5px;
        .card-deck{
            display: flex;
            flex-wrap: wrap;
        }
        .card{
            flex-basis: 50%;
            border: 1px solid #999;
            border-radius: $cbr;
            margin: 1rem 1%;
            text-align: center;
            section{
                background-color:lighten(#1B2F33,10%);
                color:lighten(#EAE2B7,20%);
                padding: 1rem 0;
                border-top-left-radius: $cbr - 1;
                border-top-right-radius: $cbr - 1;
            } //section
            img{
                padding: 1rem;
                position: relative;
            }//img
            p{
                padding: 1rem 2vw;
            } //p
            a{
                display: block;
                background-color: lighten(#1B2F33,10%);
                color:lighten(#EAE2B7,20%);
                padding: 1rem 0;
                text-decoration: none;
                border-radius: $cbr;
            }//a
            a:hover{
                background-color: lighten(#1B2F33,20%);
            }
        }//card
        .card:hover img{animation: bounce 2s 1;}
            @keyframes bounce{
                0%{bottom:0px; animation-timing-function: ease-out;}
                25%{bottom:30px;animation-timing-function: ease-in;}
                50%{bottom:0px; animation-timing-function: ease-out;}
                75%{bottom:10px;animation-timing-function: ease-in;}
                100%{bottom:0px}
             } //card:hover
    }

    div.social{
        background-color: black;
    }
    }



/*----------- FOOTER --------------*/
footer {
    background-color: #001C55;
    color: #DCC48E;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/


