header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav{
 ul li a{
    padding: 0.7rem 2rem;
    font-size: 0.8rem;
}
nav ul{
    justify-content: center;
}
}

main{
    max-width: auto;
    div.FruitGallery figure{
        flex-basis: 25%;
        }
}
