/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	/*font-weight: $lightWeight;*/
    min-width: 320px;
}


/* HEADER  */
header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
    display: grid;
    grid-template-columns: 130px auto;
    img{
        margin: 0;
        padding: 0;
    }
	h1 {
        margin: 0.5rem 0 0 0;
        padding: 0 0 0.4rem 0;
        font-size: 1.6rem;
        font-weight: 400;
        color:darken($secondaryColor,15%);
    }
    h4{
       color:lighten($secondaryColor,3%);
    }
}
/* NAVIGATION STUFF GOES HERE  */
div#navWrapper{
    background-color: lighten(rgb(56, 65, 18),70%);
}
nav{
    ul li a{
        color: $menuColor;
        text-decoration: none;
        display: block;
        padding: 0.95rem 2vw;
        border-top: solid 1px rgba(0,0,0,0.2);
        text-align: right;
    }
    ul li a:hover{
        background-color: lighten($menuColor,69%);;
    }
    ul li.active a{
        background-color: lighten($menuColor,40%);
    }
}

/* MAIN  */
main {
 	p {
        padding: .5rem 1vw; 
        color: #333; 
        line-height: 125%;}
	h1 {
        margin: 0.7rem;
        padding: 0.4rem; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: 500;
    }
    div.FruitGallery{
        display: flex;
        flex-wrap: wrap;
    }
    div.FruitGallery figure{
        flex-basis: 46%;
    }

    div.FruitGallery figure img{
        width: 100%;
        margin: 1rem 2%;
        padding: 2%;
    }
    div.FruitGallery figcaption{
        margin: 0.1rem 1rem 0.3rem 1rem;
        text-align: center;
    }
} 
// end main



/* FOOTER  */
#footerWrapper {background-color:lighten($secondaryColor,30%);}
footer {
    font-size: .85rem;
    font-weight: 700;
    margin: 7rem 0 4rem 0;
	padding: 1rem 0;
	color: rgb(5, 48, 37);
	text-align: center;
}
