main{
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main {
        sectio#weatherforecast{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
    
/*----------- FOOTER --------------*/
