/* SCSS HEX */
$alice-blue: #edf2fbff;
$lavender-web: #e2eafcff;
$periwinkle-crayola: #d7e3fcff;
$periwinkle-crayola-2: #ccdbfdff;
$periwinkle-crayola-3: #c1d3feff;
$light-steel-blue: #b6ccfeff;
$baby-blue-eyes: #abc4ffff;
$gutter:2vw;