
/*----------- BODY --------------*/

div.pageWrapper{
    grid-template-areas: 
    "header"
    "navigation"
    "content"
    "footer";
    grid-template-columns: auto;
    margin:auto;

}

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

nav{
    background-color: lighten($melon,20%);
    ul{
        flex-direction: row;
    }
}

/*----------- MAIN --------------*/
main{
    margin: 0 2%;
}

/*----------- FOOTER --------------*/
