header, main, footer {
        margin:auto;
        
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .large-#{$i} {flex-basis: $w;}
    }
    .jumbotron{
        margin: 0 0.5rem;
    }
}

/*----------- FOOTER --------------*/
