/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header{
        a{
            color: $melon;
            text-decoration: none;
            font-weight: 100;
            font-size: 1.5rem;
        }
        a:hover{
            color:$melon;
        }
    }


/*----------- NAVIGATION --------------*/
div#hamburger, div#closex {
    display: none;
}

nav{
    height: auto;
    ul{
        display:flex;
        justify-content: end;
        border: none;
    }
    ul li{
        border:none;
    }
    ul li a{
        padding:0.8rem 1rem;
        border-radius: 5px;
        margin:0.2rem 0.08rem;}
}


/*----------- MAIN --------------*/

/*----------- FOOTER --------------*/
    