/*----------- BODY --------------*/
div.pageWrapper{
    grid-template-areas: 
    "header header"
    "navigation content"
    "footer footer";
    grid-template-columns: 125px auto;
}


/*----------- HEADER --------------*/

header{
        a{
            color: $melon;
            text-decoration: none;
            font-weight: 100;
            font-size: 1.5rem;
        }
        a:hover{
            color:$melon;
        }
    }


/*----------- NAVIGATION --------------*/
div#hamburger, div#closex {
    display: none;
}

nav{
    height: auto;
    ul{
        display:flex;
        flex-direction: column;
        justify-content: end;
        border: none;
    }
    ul li{
        border:none;
    }
    ul li a{
        padding:0.6rem 1rem;
        border-radius: 5px;
        margin:0.2rem 0.08rem;}
}


/*----------- MAIN --------------*/
main{
    div.item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 1fr;
   
          aside{grid-area: title}
          span{grid-area: product}
          section{grid-area: overview}
   
          grid-template-areas: 
          "title title"
          "product overview";
   
   
          span{margin-right: 1rem;}
       }
       
       div.item2{
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 70px 1fr;
      
             .title{grid-area: title}
             span{grid-area: product}
             section{grid-area: overview}
      
             grid-template-areas: 
             "title title"
             "overview product";
      
      
             span{margin-right: 1rem;}
          }
}
/*----------- FOOTER --------------*/
    