/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;     margin: 0;
}


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper{grid-row-start: 1;background-color:lighten($melon,20%);
}
div#hamburger a, div#closex a{
    display: block;
    padding: 0.8rem 2vw;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: right;
}
div#closex a {margin-right: 10vw;}
header {
    width: 100%;
    img{
        float: left;
        margin: 0 2vw;
    }
}
/*----------- NAVIGATION --------------*/
div#navWrapper{grid-row-start: 4; background-color: $pewter-blue;}

nav {
    height: 100vh;
    ul{
        border-bottom: 1px solid $oxford-blue;
    }
    ul li{
        border-top: 1px solid $oxford-blue;
    }
    ul li a{
        display: block;
        color: $oxford-blue;
        padding: 0.9rem 2vw;
        text-decoration: none;
        text-align: left;
    }
    ul li a:hover{
        background-color: lighten($oxford-blue,80%);
    }
    ul li.active a{
        background-color: $oxford-blue;
        color: lighten($oxford-blue,80%);
    }
    #navList{list-style-type: none;
        padding: 0;
    }
}
/*----------- MAIN --------------*/
div#mainWrapper{grid-row-start: 2;}

main {
    h2{
        padding: 0.9rem 2vw;
        margin: 0;
    }
    h4{
        padding: 0.9rem 2vw;
 
    }
    .flexed{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .column{
        padding: 0 $gutter;
    }
    .lawyer{
        padding-top: 2rem;
        section{
            text-align: center;
            height: 25px;
            background-color: darken($melon, 30%);
            color: #fff;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
        }
        a{
            display: block;
            padding: .5rem 0;
            margin:1rem;
            border-radius: 6px;
            text-decoration: none;
            text-align: center;
            background-color: #D4C473;
            color: $melon;
        }
    }
    .accidents{
        padding: 0;
        margin: 2rem 0;
        background-color: lighten($melon, 25%);
        h2,p{
        padding:0 0.5rem;
        }
        a{
            display: block;
            padding: .5rem 0;
            text-decoration: none;
            text-align: center;
            background-color: #D4C473;
            color: $melon;
        }
    }
    .faq{
        a{
            display: block;
            padding: .5rem 0;
            margin:1rem;
            border-radius: 6px;
            text-decoration: none;
            text-align: center;
            background-color: #D4C473;
            color: $melon;
        }
    }
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .small-#{$i} {flex-basis: $w;}
    }
    img{
        width: 100%;
    }
    .jumbotron{
        background-color: $melon;
        color: #D9DBF1;
        margin: 0.5rem 0;
       p{
        padding: 1rem 0;
        align-items: center;
        text-align: center;
        font-size: large;
    }
}
}


/*----------- FOOTER --------------*/
div#footerWrapper{grid-row-start: 3;}

footer {
    background-color: $melon;
    color: $melon;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/


