/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;     margin: 0;
}

div#pageWrapper{
    display: grid;
    grid-template-areas: 
    "hamburger"
    "header"
    "content"
    "footer"
    "navigation";
}

/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/

div#hamburger a{
    grid-area: hamburger;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: left;
}

header {
    grid-area: header;
    width: 100%;
    img{
        float: left;
        margin: 0 2vw;
    }
}
/*----------- NAVIGATION --------------*/

nav {
    grid-area: navigation;
    height: 100vh;
    div#closex a{
        display: block;
        padding: 1rem;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        text-align: left;}
    ul{
        border-bottom: 1px solid $oxford-blue;
    }
    ul li{
        border-top: 1px solid $oxford-blue;
    }
    ul li a{
        display: block;
        color: $oxford-blue;
        padding: 0.9rem 2vw;
        text-decoration: none;
        text-align: left;
    }
    ul li a:hover{
        background-color: lighten($oxford-blue,80%);
    }
    ul li.active a{
        background-color: $oxford-blue;
        color: lighten($oxford-blue,80%);
    }
    #navList{list-style-type: none;
        padding: 0;
    }
}
/*----------- MAIN --------------*/
main {
    grid-area: content;
    h2, h4{
        padding: 0.9rem 2vw;
        font-size: larger;
    }
    p{
        margin: 1rem 0;
        padding: 0.9rem 2vw;
        font-size: 1rem;
        color: lighten(black,10%);
    }
    img{
        width: 100%;
    }
}


/*----------- FOOTER --------------*/

footer {
    grid-area: footer;
    background-color: $melon;
    color: $melon;
    padding: .5rem 2%;
    text-align: center;
}





