/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;     margin: 0;
}


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper{grid-row-start: 1;background-color:lighten($melon,20%);
}
div#hamburger a{
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: left;
}
div#closex a{
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: left;
}
header {
    width: 100%;
    img{
        float: left;
        margin: 0 2vw;
    }
}
/*----------- NAVIGATION --------------*/
div#navWrapper{grid-row-start: 4; background-color: $pewter-blue;}

nav {
    height: 100vh;
    ul{
        border-bottom: 1px solid $oxford-blue;
    }
    ul li{
        border-top: 1px solid $oxford-blue;
    }
    ul li a{
        display: block;
        color: $oxford-blue;
        padding: 0.9rem 2vw;
        text-decoration: none;
        text-align: left;
    }
    ul li a:hover{
        background-color: lighten($oxford-blue,80%);
    }
    ul li.active a{
        background-color: $oxford-blue;
        color: lighten($oxford-blue,80%);
    }
    #navList{list-style-type: none;
        padding: 0;
    }
}
/*----------- MAIN --------------*/
div#mainWrapper{grid-row-start: 2;}

main {
    h2, h4{
        padding: 0.9rem 2vw;
        font-size: larger;
    }
    p{
        margin: 1rem 0;
        padding: 0.9rem 2vw;
        font-size: 1rem;
        color: lighten(black,10%);
    }
    img{
        width: 100%;
    }
}


/*----------- FOOTER --------------*/
div#footerWrapper{grid-row-start: 3;}

footer {
    background-color: $melon;
    color: $melon;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/


