/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
/*----------- HEADER --------------*/
header {
    width: 100vw;
    h1{
        margin: 0;
        padding:  1rem;
        color: white;
        background-color: $sandy-brown;
    }
    h3{
        color: white;
        background-color: $sandy-brown;
        padding: 0.5rem 1rem;
        margin: 0;
    }
}
/*----------- NAVIGATION --------------*/
nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: $charcoal;
    #navList{
        padding: 0;
    }
    ul{
        
        display: flex;
        li{
            flex-basis: 33.3%;
            list-style-type: none;
            text-align: center;
            a{
                text-decoration: none;
                color: white;
                display: block;
                width: 100%;
                i{display: block;}
            }
            below span i{
                float: top;
                font-size: 1.5rem;}
        }
    }
}
/*----------- MAIN --------------*/
main {
    #inventoryWrapper{
        display: grid;
        grid-template-columns: 1fr; 
        padding: 0;
    }
   figure{
    position: relative;
   }
   figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(129, 75, 12, 0.4);
    color: white;
    padding: 0.3rem $gutter;
   }
   div{
    padding-left: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    below span i{
        float: left;
        font-size: 1.5rem;
        color: $charcoal;
    }
    below span p{
        padding-left: 1.6rem;
    }
    img{
        width: 100%;
    }
   }
}


/*----------- FOOTER --------------*/

footer {
    background-color: $sandy-brown;
    color: lighten($persian-green,30%);
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
