/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
/*----------- HEADER --------------*/
header {
    margin: 0;
    height: 100%;
    h1{
        margin: 0;
        padding: 0 1rem;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }
    h3{
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0.5rem 1rem;
        margin: 0;
    }
}
/*----------- NAVIGATION --------------*/
nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: $charcoal;
    ul{
        display: flex;
        li{
            flex-basis: 33.3%;
            list-style-type: none;
            text-align: center;
            a{
                display: block;
                width: 100%;
            }
        }
    }
}
/*----------- MAIN --------------*/
main {
    #inventoryWrapper{
        display: grid;
       grid-template-columns: 1fr; 
    }
   figure{
    position: relative;
   }
   figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 0.3rem $gutter;
   }
}


/*----------- FOOTER --------------*/

footer {
    background-color: $sandy-brown;
    color: lighten($persian-green,30%);
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
