/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/
nav button{display: none;}
#navList{display: flex;}
nav{
    ul{
        margin-left: 2%;
        border-left: 1px solid $darkBlue;
        list-style-type: none;
    }
    ul li{
        border-right:1px solid $darkBlue;
    }
    ul li a{
        border:none;
        font-size: 1rem;
        padding: 0.9rem 1.2rem;
        color: white;
        text-decoration: none;
        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear;
    }
    ul lia:hover{
        background-color:darken($darkRed,25%);        
        color: #fff;;}
}


/*----------- MAIN --------------*/
main {
    div.storyGrid{
        grid-template-columns: 1fr 1fr 1fr;
    span{
        font-size: 1rem;
    }
    .lead{
        grid-column: 1/span 3;
    }
}
div.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
span{
    display: block;
    text-align: left;
    font-size: 0.75rem;
}
}
}
/*----------- FOOTER --------------*/
    