/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper{grid-row-start: 1;}
div#hamburger a, div#closex a{
    display: block;
    padding: 0.8rem 2vw;
    font-size: 1.5rem;
    color: $darkBlue;
    text-decoration: none;
    text-align: right;
}
div#closex a {margin-right: 10vw;}
header {
    display: grid;
    grid-template-columns: 151px auto 44px;
    align-items: center;
    background-color: $lightBlue;
    div#phone{
        display: none;
    }
    figure.logo{
        float: left;
        margin: 0 2vw;
    }

}
/*----------- NAVIGATION --------------*/
div#navWrapper{grid-row-start: 4;}

nav {
    height: 100vh;
    ul{
        border-bottom: 1px solid $lightBlue;
    }
    ul li{
        border-top: 1px solid $lightBlue;
    }
    ul li a{
        display: block;
        color: $darkBlue;
        padding: 0.9rem 2vw;
        text-decoration: none;
        text-align: right;
    }
    ul li a:hover{
        color: $mediumBlue;
    }
    ul li.active a{
        background-color: lighten($darkBlue, 60%);
    }
    #navList{list-style-type: none;
    }
}
/*----------- MAIN --------------*/
div#mainWrapper{grid-row-start: 2;}

main {
    div.storyGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    span{
        display: block;
        text-align: center;
        font-size: 0.75rem;
    }
    .teaser, .lead{
        padding: 0.5rem 2vw;
    }
    .teaser img, .lead img{
        width: 100%;
    }
    .lead{
        grid-column: 1/span 2;
    }
}
}


/*----------- FOOTER --------------*/
div#footerWrapper{grid-row-start: 3;}

footer {
    background-color: $lightBlue;
    color: $darkBlue;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/


