/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper{grid-row-start: 1;}
div#hamburger a, div#closex a{
    display: block;
    padding: 0.8rem 2vw;
    font-size: 1.5rem;
    color: $darkBlue;
    text-decoration: none;
    text-align: right;
}
div#closex a {margin-right: 10vw;}
header {
    display: grid;
    grid-template-columns: 151px auto 44px;
    align-items: center;
    background-color: $lightBlue;
    div#phone{
        display: none;
    }
    figure.logo{
        float: left;
        margin: 0 2vw;
    }

}
/*----------- NAVIGATION --------------*/
div#navWrapper{grid-row-start: 4;}

nav {
    height: 100vh;
    ul{
        border-bottom: 1px solid $lightBlue;
    }
    ul li{
        border-top: 1px solid $lightBlue;
    }
    ul li a{
        display: block;
        color: $darkBlue;
        padding: 0.9rem 2vw;
        text-decoration: none;
        text-align: right;
    }
    ul li a:hover{
        color: $mediumBlue;
    }
    ul li.active a{
        background-color: lighten($darkBlue, 60%);
    }
    #navList{list-style-type: none;
    }
}
/*----------- MAIN --------------*/
div#mainWrapper{grid-row-start: 2;}

main {
    .flexed{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .column{
        padding: 0 $gutter;
    }
    .lawyer{
        padding-top: 2rem;
        section{
            text-align: center;
            height: 25px;
            background-color: darken($mediumBlue, 30%);
            color: #fff;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
        }
        a{
            display: block;
            padding: .5rem 0;
            margin:1rem;
            border-radius: 6px;
            text-decoration: none;
            text-align: center;
            background-color: #D4C473;
            color: $darkBlue;
        }
    }
    .accidents{
        padding: 0;
        margin: 2rem 0;
        background-color: lighten($lightBlue, 25%);
        h2,p{
        padding:0 0.5rem;
        }
        a{
            display: block;
            padding: .5rem 0;
            text-decoration: none;
            text-align: center;
            background-color: #D4C473;
            color: $darkBlue;
        }
    }
    .faq{
        a{
            display: block;
            padding: .5rem 0;
            margin:1rem;
            border-radius: 6px;
            text-decoration: none;
            text-align: center;
            background-color: #D4C473;
            color: $darkBlue;
        }
    }
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .small-#{$i} {flex-basis: $w;}
    }
    img{
        width: 100%;
    }
    .jumbotron{
        background-color: $darkBlue;
        color: #D9DBF1;
        margin: 0.5rem 0;
       p{
        padding: 1rem 0;
        align-items: center;
        text-align: center;
        font-size: large;
    }
}
    .social{
        display: flex;
        font-size: 2rem;
        padding: 1rem;
        .social-link{
            padding: 1rem;
        }
        a{
            color: $mediumBlue;
            display: block;
            padding: 1rem 0;
        }
        a:hover{
            color: $lightBlue;
        }
    }
}


/*----------- FOOTER --------------*/
div#footerWrapper{grid-row-start: 3;}

footer {
    background-color: $lightBlue;
    color: $darkBlue;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/


