main{
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
div#headerWrapper{
    background-image: url(../images/boston6large.jpg);
    height: 140px;
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

/*----------- FOOTER --------------*/
