/*----------- BODY --------------*/

/*----------- HEADER --------------*/
div#headerWrapper{
    background-image: url(../images/boston6medium.jpg);
    height: 140px;
}

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
main{
    .individual-card{
        flex-basis: 50%;
    }
}
/*----------- FOOTER --------------*/
    