/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;

}


/*----------- HEADER --------------*/
div#headerWrapper{
    background-image: url(../images/boston6small.jpg);
    height: 140px;
    background-size: cover;
    background-position: center bottom;

}
header {
    margin: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1{
        margin: 0;
        padding: 0 1rem;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }
    h3{
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0.5rem 1rem;
        margin: 0;
    }
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

main {
    .swiper{
        width: 100%;
        height: auto;
    }
    .swiper img{
        width: 100%;
        display: block;
    }
    .swiper-wrapper{
        margin-bottom: 30px;
    }
    p{
        background-color: rgba(0,0,0,0.5);
        color: white;
        text-align: center;
        transform: translateY(-100%);
        margin: 0;
        padding: 0.4rem 2vw;
        position: absolute;
        width: 100%;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
    div:nth-child(1){
        background-image: url(../images/hotelroom.jpg);
        background-position: center;
    }
    div:nth-child(2){
        background-image: url(../images/walkperson.jpg);
    } 
    div:nth-child(3){
        background-image: url(../images/citypark.jpg);
    } 
    div:nth-child(4){
        background-image: url(../images/diningtable.jpg);
    }
    div a{
        display: block;
        width: 100%;
        height: 300px;
        text-decoration: none;
        padding: 0 2%;
        transition: all 0.5s ease-in;
    }
    div:nth-child(1) a{
       background-color: $orange; 
    }
    div:nth-child(2) a{
        background-color: $pink; 
     }
     div:nth-child(3) a{
        background-color: $mediumBlue; 
     }
     div:nth-child(4) a{
        background-color: $khaki; 
     }
    div a:hover{
        background: none;
        text-shadow:0 0 4px black;
    }
    h4{
        font-size: 1.2rem;
        padding: 1rem 0;
        color: white;
    }
}
.individual-card{
    flex-basis: 100%;
}
}


/*----------- FOOTER --------------*/

footer {
    background-color: $darkBlue;
    color: lighten($pink,30%);
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
