/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;

}


/*----------- HEADER --------------*/
div#headerWrapper{
    background-image: url(../images/boston6small.jpg);
    height: 140px;
    background-size: cover;
    background-position: center bottom;

}
header {
    margin: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1{
        margin: 0;
        padding: 0 1rem;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }
    h3{
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0.5rem 1rem;
        margin: 0;
    }
}
/*----------- NAVIGATION --------------*/
#navWrapper{
    background-color: $orange;
}
nav {
    ul{
        display: none;
        margin: 0;
        padding: 0;
    }
    ul li.active a{ background-color:darken($orange, 15%);}

    ul li a{
        display: block;
        padding: 0.75rem 2vw;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        border-top: 1px solid $darkBlue;
    }

    ul li a:hover{
        background-color:darken($pink,25%);        
        color: #fff;
    }
    ul.open{display: block;}
    button{
        position: relative;
        height: 44px;
        width: 44px;
        background: none;
        border: none;
        .line{
            position: absolute;
            height: 2px;
            width: 60%;
            left: 20%;
            background-color: #fff;
            transition: all .3s ease;
        }
        .top{top:29%;}
        .middle{top:48%;}
        .bottom{top:67%;}
    }
    #hamburgerB.open{
        .top{transform: rotate(45deg); top: 48%;}
        .middle, .bottom{
            transform: rotate(-45deg);
            top: 48%;
        }
    }

}
/*----------- MAIN --------------*/

main {
    .swiper{
        width: 100%;
        height: auto;
    }
    .swiper img{
        width: 100%;
        display: block;
    }
    .swiper-wrapper{
        margin-bottom: 30px;
    }
    p{
        background-color: rgba(0,0,0,0.5);
        color: white;
        text-align: center;
        transform: translateY(-100%);
        margin: 0;
        padding: 0.4rem 2vw;
        position: absolute;
        width: 100%;
    }
}


/*----------- FOOTER --------------*/

footer {
    background-color: $pink;
    color: $orange;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
