main{
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
#hamburgerB{
    display: none;
}
.moveOver>.content{
    transform: translateX(0px);
}
/*----------- NAVIGATION --------------*/
nav{
    position: static;
    transform: translateX(0);
    width: auto;
    div{display: none;}
    ul{
        display:flex;
        margin: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.348);
}
    ul li a{
        border: none;
        border-right: 1px solid rgba(255, 255, 255, 0.348);
        padding: 0.6rem 1.5rem;
    }
}
/*----------- MAIN --------------*/
main{
    form label.sbs{
        padding: 0.4rem 0;
    }
}
/*----------- FOOTER --------------*/
