/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

#pageWrapper{
    position: relative;
    overflow-x: hidden;
}

.moveOver>.content{
    transform: translateX(-180px);
}

.content{
    transition: transform 500ms ease;
}

header {
    display: grid;
    grid-template-columns: 100px auto 48px;
    align-items: center;
    padding: 0.5rem 2vw;
    background-color: rgb(27, 8, 44);
   h1{
        padding-left:0.5rem;
        color: white;
    }
    button{
        width: 48px;
        height: 48px;
        margin: 0;
        align-self: start;
        background: none;
        font-size: 1.5rem;
        text-align: center;
        color: $lavender-web;
        border: none;
    }
}
/*----------- NAVIGATION --------------*/
nav{
    background: darken($blue-bell,35%);
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    div{
        display: block;
        text-align: center;
        padding: 1.5rem;
        font-size: 1.1rem;
        background-color: $lilac;
        color: darken($lilac,40%);
    }
    ul li{
        list-style-type: none;
    }
    ul li a{
        display: block;
        padding: 0.9rem 0.5rem;
        text-align: right;
        border-bottom: 1px $lilac solid;
        text-decoration: none;
        color: white;
    }
    ul li a:hover{
        background-color: darken($lilac,50%);
        color: lighten($lilac,30%);
    }
    li.active a{
        background-color: darken($languid-lavender,70%);
    }
}
/*----------- MAIN --------------*/
main{
    padding: 0 2%;
    min-height: 20rem;
    h1{
        color: rgb(27, 8, 44);
    }
    h4{
        color: lighten(rgb(27, 8, 44),10%);
        font-weight: 200;
    }
    form fieldset{
        margin: 2rem 0;
        border: 1px solid $lavender-web;
        border-radius: 10px;
        padding: 0.5rem 2%;
    }
    form legend{
        color: rgb(27, 8, 44);
        margin: 0 1rem;
        padding: 0 0.5rem;
    }
    form label.top, form div{
        display: block;
        padding-top: 1rem;
        color: rgb(27, 8, 44);
        font-size: 0.8rem;
    }
    form label.top input, form label.select{
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px $lilac;
        border-radius: 4px;
        padding: 0.75rem;
        color: rgb(27, 8, 44);
        width: 100%;
        max-width: 20rem;
        background-color: $lavender-web;
    }
    form label.sbs{
        display: block;
        padding: 0.75rem;
        color: rgb(27, 8, 44);
    }
    form input.submitBtn{
        border: none;
        background-color: darken($lilac,40%);
        color: white;
        border-radius: 0.5rem;
        padding: 0.75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width: 96%;
        max-width: 20rem;
    }
    form label.top input:required{
        border-left: $blue-bell solid 6px;
    }
    form label.top input:required:valid{
        border-left: lightgreen solid 6px;

    }
}
/*----------- FOOTER --------------*/

footer {
    background-color: rgb(27, 8, 44);
    color: lighten($blue-bell,30%);
    padding: 0.8rem 0;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
