/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

header {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 8, 44);
   h1{
        margin: 0;
        padding: 3rem 0 0 0.5rem;
        color: white;
    }
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

/*----------- FOOTER --------------*/

footer {
    background-color: rgb(27, 8, 44);
    color: lighten($blue-bell,30%);
    padding: 0.8rem 0;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
