/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    p{
        margin: 0;
    }

}


/*----------- HEADER --------------*/
header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
    padding:0;
    margin: 0;
    background-color: #6290C8;
        figure.logo{
        float: left;
        margin: 0 2vw ;
    }
    h1 {
    margin: 0;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    padding-left: 7rem;
    padding-top: 1.8rem;

}
}
/*----------- NAVIGATION --------------*/
nav {
    ul {
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100%;
    display: none;
}
ul.open{
    display: block;
}
 ul li {
    border-bottom: solid 1px #100007;
}
 ul li a {
    display: block;
    background-color: #6290C8;
    color: #ffffff;
    border-left: 1px solid #9b1d20;
    padding: .9rem 2vw;
    text-decoration: none;
    font-size: .9rem;
    text-align: right;
}
 ul li:first-child a {border-left: none;}

 ul li a:hover {
    background-color: #ffffff;
    color: #c01526;
}
 ul li.active a {
    background-color: #ffffff;
    color: #000000;
}
 button{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 2vw .5rem 1rem;
    color: #ffffff;
}
button span:nth-child(1){
    display: block;
}
button span:nth-child(2){
    display: none;
}

button.open span:nth-child(1){
    display: none;
}
button.open span:nth-child(2){
    display: block;
}

}
/*----------- MAIN --------------*/
main {
    div.bio {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
      
    div.member {
        flex-basis: 100%;
        padding: 0.5rem;
        text-align: left;
        
    }

    h2{
        color: #1B2F33;
        font-size: x-large;
        margin-left: 0.5vw;
    }
    }



/*----------- FOOTER --------------*/
footer {
    background-color: #9b1d20;
    color: #EAE2B7;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/


