main{
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main{
    .individual-card{
        flex-basis: 25%;
    }
}
/*----------- FOOTER --------------*/
