/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: 'Dosis', 'Roboto Condensed';

}


/*----------- HEADER --------------*/
#headerWrapper{
    background-color: $russian-violet;
}
header {
    display: grid;
    grid-template-columns: 75px auto;
    align-items: center;
    padding: 0.5rem 2vw;
    margin: 0;
    img{
        width: 100%;
    }
    .slogan{
        align-self: flex-end;
    h1{
        margin: 0;
        padding: 0 1rem;
        color: white;
    }
    h3{
        color: white;
        padding: 0.5rem 1rem;
        margin: 0;
    }
}
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

main {
    h1,h2{
        margin-left: $gutter;
    }
    .swiper{
        width: 100%;
        height: auto;
    }
    .swiper img{
        width: 100%;
        display: block;
    }
    .swiper-wrapper{
        margin-bottom: 30px;
    }
    .swiper-pagination {
        position: relative;
    }
    .swiper-slide p{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        transform: translateY(-100%);
        margin: 0;
        padding: 0.4rem 2vw;
        position: absolute;
        width: 100%;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
    div:nth-child(1){
        background-image: url(../images/sedan.jpg);
        background-size: cover;
        background-position: center;
    }
    div:nth-child(2){
        background-image: url(../images/suv.jpg);
        background-size: cover;
        background-position: bottom;
    } 
    div:nth-child(3){
        background-image: url(../images/van.jpg);
        background-size: cover;
        background-position: center;
    } 
    div:nth-child(4){
        background-image: url(../images/truck.jpg);
        background-size: cover;
        background-position: center;
    }
    div a{
        display: block;
        width: 100%;
        height: 300px;
        text-decoration: none;
        padding: 0 2%;
        transition: all 0.5s ease-in;
    }
    div:nth-child(1) a{
        background-color: lighten($amethyst,5%); 
    }
    div:nth-child(2) a{
        background-color: lighten($amethyst,15%); 
     }
     div:nth-child(3) a{
        background-color: lighten($amethyst,20%); 
     }
     div:nth-child(4) a{
        background-color: lighten($amethyst,25%); 
     }
    div a:hover{
        background: none;
        text-shadow:0 0 15px white;
    }
    h4{
        font-size: 1.2rem;
        padding: 1rem 0;
        color: black;
    }
}
.individual-card{
    flex-basis: 100%;
}
.gallery{
        figure{
            width: 100%;
            height: 0;
            padding-bottom: 60%;
            position: relative;
            margin: 0;
            img{
                width: 100%;
                height: auto;
                position: absolute;
            }
        }
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid $amethyst;
    border-radius: 10px;
    padding: 0.5rem 2%;
}
form legend{
    color: rgb(27, 8, 44);
    margin: 0 1rem;
    padding: 0 0.5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: rgb(27, 8, 44);
    font-size: 0.8rem;
}
form label.top input, form label.select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px $amethyst;
    border-radius: 4px;
    padding: 0.75rem;
    color: rgb(27, 8, 44);
    width: 100%;
    max-width: 20rem;
    background-color: lighten($amethyst,40%);
}
form label.sbs{
    display: block;
    padding: 0.75rem;
    color: rgb(27, 8, 44);
}
form input.submitBtn{
    border: none;
    background-color: darken($amethyst,40%);
    color: white;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: $amethyst solid 6px;
}
form label.top input:required:valid{
    border-left: lightgreen solid 6px;

}
}


/*----------- FOOTER --------------*/

footer {
    background-color: $russian-violet;
    color: white;
    padding: .5rem 2%;
    text-align: center;
}


/*----- Clearfix: Force an Element not to collapse -----*/
