$gutter: 2vw;
$safety-orange-blaze-orange: #ff6d00ff;
$safety-orange: #ff7900ff;
$orange: #ff8500ff;
$yellow-orange-color-wheel: #ff9100ff;
$orange-peel: #ff9e00ff;
$russian-violet: #240046ff;
$persian-indigo: #3c096cff;
$purple: #5a189aff;
$french-violet: #7b2cbfff;
$amethyst: #9d4eddff;
